.messages {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    background:
        url('https://cdn.vectorstock.com/i/1000x1000/36/05/abstract-seamless-repeating-background-vector-29443605.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    color: white;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.messagesList {
    width: 80vw;
    height: 90vh;
    background-color: rgba(17, 12, 40, 0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
}